Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Reusable simple types -->
  <xs:simpleType name="PhoneType">
    <xs:restriction base="xs:string">
      <!-- (480) 555-1234 format -->
      <xs:pattern value="\(\d{3}\)\s\d{3}-\d{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="USStateCode">
    <xs:restriction base="xs:string">
      <!-- Enumerate 50 states + DC -->
      <xs:enumeration value="AL"/><xs:enumeration value="AK"/><xs:enumeration value="AZ"/>
      <xs:enumeration value="AR"/><xs:enumeration value="CA"/><xs:enumeration value="CO"/>
      <xs:enumeration value="CT"/><xs:enumeration value="DE"/><xs:enumeration value="FL"/>
      <xs:enumeration value="GA"/><xs:enumeration value="HI"/><xs:enumeration value="ID"/>
      <xs:enumeration value="IL"/><xs:enumeration value="IN"/><xs:enumeration value="IA"/>
      <xs:enumeration value="KS"/><xs:enumeration value="KY"/><xs:enumeration value="LA"/>
      <xs:enumeration value="ME"/><xs:enumeration value="MD"/><xs:enumeration value="MA"/>
      <xs:enumeration value="MI"/><xs:enumeration value="MN"/><xs:enumeration value="MS"/>
      <xs:enumeration value="MO"/><xs:enumeration value="MT"/><xs:enumeration value="NE"/>
      <xs:enumeration value="NV"/><xs:enumeration value="NH"/><xs:enumeration value="NJ"/>
      <xs:enumeration value="NM"/><xs:enumeration value="NY"/><xs:enumeration value="NC"/>
      <xs:enumeration value="ND"/><xs:enumeration value="OH"/><xs:enumeration value="OK"/>
      <xs:enumeration value="OR"/><xs:enumeration value="PA"/><xs:enumeration value="RI"/>
      <xs:enumeration value="SC"/><xs:enumeration value="SD"/><xs:enumeration value="TN"/>
      <xs:enumeration value="TX"/><xs:enumeration value="UT"/><xs:enumeration value="VT"/>
      <xs:enumeration value="VA"/><xs:enumeration value="WA"/><xs:enumeration value="WV"/>
      <xs:enumeration value="WI"/><xs:enumeration value="WY"/><xs:enumeration value="DC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Zip5">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Root -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:positiveInteger"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City"   type="xs:string"/>
                    <xs:element name="State"  type="USStateCode"/>
                    <xs:element name="Zip"    type="Zip5"/>
                  </xs:sequence>
                  <xs:attribute name="NearestAirport" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Rating" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="1"/>
                  <xs:maxInclusive value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Uniqueness constraint: hotel names must be unique -->
    <xs:unique name="UniqueHotelName">
      <xs:selector xpath="Hotel"/>
      <xs:field    xpath="Name"/>
    </xs:unique>

  </xs:element>

</xs:schema>
